<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{productData.productImage}}" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="fw-bolder mb-1">{{productData.vendorName}}</div>
                <h1 class="display-5 fw-bolder">{{productData.productName}}</h1>
                <div class="fs-5 mb-3">
                    <span class="text-decoration-line-through">Rs. {{productData.price+500}} </span>
                    <span>. <strong>Rs. {{productData.price}}</strong> </span>
                </div>
                <p class="lead ">{{productData.description}}</p>

                <div class="d-flex">
                    <input class="form-control border-dark text-center me-3" id="inputQuantity" type="num"
                        placeholder="1" style="max-width: 4rem" />
                    <button class="btn mx-1 btn-outline-success flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                    <a href="products/EditProduct/{{productData.id}}">
                        <button class="btn mx-1 btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Edit
                        </button>
                    </a>
                    <a href="products/DeleteProduct/{{productData.id}}">
                        <button class="btn mx-1 btn-outline-danger flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Delete
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>